.box {
  background-color: rgb(rgb(115, 190, 201));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px; 
  margin: auto;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .prev {
  left: -40px;
}

.carousel .next {
  right: -40px; 
}

.carousel button:hover {
  background-color: #555;
}
